* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.justify-content-end {
  justify-content: end;
}

.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 80%;
  margin: 2rem;
}

.card-horizontal {
  max-height: 10rem;
  display: flex;
  flex: 1 1 auto;
}

.card-img {
  max-width: 25%;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: center;
  height: 2.5rem;
}
.footer-comment {
  margin-right: 20%;
}
.footer-votes {
  margin-left: 20%;
}

.card-title {
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.card-body {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-text,
.category-title {
  text-transform: capitalize;
}
