@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.page {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238cf5ff' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main-page {
  display: flex;
}

/* LANDING PAGE */

#landing-page {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238cf5ff' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  line-height: 0.9;
}

#landing-page > h1 {
  white-space: normal;
  color: #ff69b4;
  text-shadow: 4px 4px #8cf5ff;
  padding: 2vw;
  padding-top: 3vw;
  font-size: 8vw;
}

#landing-welcome {
  background-color: white;
  width: 100%;
  border-top: 2px solid #8cf5ff;
  border-bottom: 2px solid #8cf5ff;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#landing-welcome > h2 {
  font-size: 4vw;
  color: #ff69b4;
  font-style: italic;
  font-weight: 200;
  padding-left: 1vw;
  padding-right: 1vw;
}

#landing-welcome > h3 {
  color: #ff69b4;
  font-size: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

#user-selection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  justify-content: space-evenly;
}

.landing-user-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 217, 146);
  box-shadow: 10px 10px 2px 1px #ff69b4;
  padding: 1vw;
  border-radius: 2vw;
  transition-duration: 0.3s;
  width: 10vw;
  height: 15vw;
  text-decoration: none;
  margin: 2vw;
  color: #ff69b4;
}

.landing-user-widget:hover {
  background-color: orange;
  color: white;
}

.landing-user-widget > img {
  border-radius: 50%;
  object-fit: cover;
  width: 8vw;
  height: 8vw;
  background-color: white;
  border: 5px solid white;
}

.landing-user-info {
  display: flex;
  flex-direction: column;
}

.landing-user-info > h2 {
  font-weight: 200;
  font-size: 2vw;
  font-family: "Fugaz One", cursive;
}

.landing-user-info > h3 {
  font-weight: 100;
  font-style: italic;
  font-size: 1.5vw;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8cf5ff;
  padding: 3vw;
}

.header-title {
  color: #ffffff;
  font-family: "Fugaz One", cursive;
  font-size: 6vw;
  text-shadow: 3px 3px #ff69b4;
  white-space: nowrap;
}

#subheading {
  font-size: 2vw;
  color: #ff43a1;
  font-weight: 300;
}

#heading {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#user-widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  height: 8vw;
  width: 17vw;
  border-radius: 10px;
  box-shadow: 10px 10px 2px 1px #ff69b4;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #e60073;
}

#user-widget:hover {
  box-shadow: 10px 10px 2px 1px orange;
  color: orange;
}

#user-link {
  text-decoration: none;
}

#user-avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 6vw;
  width: 6vw;
}

#user-widget-text {
  text-align: right;
  line-height: 1.5;
  font-size: 1.3vw;
}

#user-widget-username {
  font-weight: bold;
}

/* SIDEBAR */

#sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  text-align: left;
  height: fit-content;
  width: fit-content;
  background-color: rgb(255, 200, 98);
  font-size: 2vw;
  line-height: 1.7;
  border-bottom-right-radius: 3vw;
}

#sidebar > h2 {
  font-family: "Fugaz One", cursive;
  color: white;
}

.category-link {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}

.category-link:hover {
  color: #ff69b4;
}

/* CATEGORY WIDGET */

#category-widget {
  display: flex;
  justify-content: center;
  color: orange;
  background-color: white;
}

#category-text-container {
  padding: 2vw;
}

#category-text-container > p {
  font-size: 1.8vw;
}

#category-text-container > h2 {
  font-family: "Fugaz One", cursive;
  font-size: 4vw;
}

/* SINGLE REVIEW STYLING */

.review-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3vw;
}

.reviews {
  width: 100%;
}

.review-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3vw;
  box-shadow: 10px 10px 2px 1px #8cf5ff;
  border: 1px solid #8cf5ff;
}

.review-container {
  display: flex;
  padding: 1vw;
  text-align: left;
}

.review-header > h2 {
  color: orange;
  font-family: "Fugaz One", cursive;
  font-size: 3vw;
  text-align: right;
}

.review-box > h3 {
  color: #ff69b4;
  font-style: italic;
  text-align: right;
  font-size: 1.7vw;
}

.review-container > p {
  font-size: 1.5vw;
  line-height: 1.5;
  padding: 1vw;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-container > img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding: 1vw;
}
/* 
.review-container > img:hover {
  -webkit-transform: scale(2, 2);
}
 */
.back-button {
  background-color: transparent;
  padding: 1vw;
  border: 1px solid orange;
  color: orange;
  font-size: 1.5vw;
  cursor: pointer;
  transition-duration: 0.3s;
  white-space: nowrap;
  width: fit-content;
}

.back-button:hover,
.back-button:focus {
  background-color: orange;
  color: white;
}

/* COMMENTS STYLING */

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5vw;
}

.comment-card {
  display: flex;
  text-align: left;
  align-items: center;
  border-radius: 1vw;
  background-color: white;
  width: 60vw;
  padding: 1.5vw;
  margin: 1vw;
  box-shadow: 12px 12px 2px 1px #8cf5ff97;
  border: 0.5px solid #8cf5ff;
}

.comment-text {
  margin-left: 2vw;
  font-size: 1.5vw;
}

.commentor-avatar {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  object-fit: cover;
}

.commentor {
  color: #ff69b4dd;
}

.op-comment {
  border: 0.5px solid #ff69b4;
  box-shadow: 12px 12px 2px 1px #ff69b4a1;
}

.comments-header {
  font-size: 4vw;
  font-weight: 200;
  font-family: "Fugaz One", cursive;
  color: #ff69b4;
}

#no-comments-text {
  color: #ff69b4;
  font-size: 2vw;
  padding: 2vw;
  font-weight: 300;
  font-style: italic;
}

/* REVIEW CARD STYLING */

.cards-list {
  padding: 3vw;
}
.card {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  display: flex;
  flex-direction: column;
}

.card-horizontal {
  display: flex;
  background-color: white;
  border: 0.5px solid #8cf5ff;
  border-bottom: none;
}

.card-img {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  border: 0.5px solid #8cf5ff;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 3vw;
  text-align: left;
}

.card-title {
  color: #ff69b4;
  transition-duration: 0.3s;
  font-size: 2vw;
  white-space: wrap;
}

.card-title:hover,
.card-title:focus {
  color: orange;
}

.card-author {
  font-size: 1.7vw;
  color: orange;
  font-style: italic;
}

.card-footer {
  display: flex;
  padding: 1vw;
  background-color: #8cf5ff;
  justify-content: space-around;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  font-weight: bold;
  color: #ff69b4;
  font-size: 1.5vw;
}

/* LOADER */

.loader-box {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.loader {
  border: 16px solid #8cf5ff6c;
  border-top: 16px solid #ff69b4;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MOBILE DROPDOWN */

#dropdown-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#current-category {
  font-size: 5vw;
  color: white;
  font-weight: 300;
}

#dropdown-button {
  background-color: rgb(255, 200, 98);
  padding: 2vw;
}

#dropdown-button > button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 8vw;
  font-family: "Fugaz One", cursive;
  transition-duration: 0.3s;
  cursor: pointer;
}

#dropdown-button > button:hover {
  color: #ff69b4;
}

#dropdown-nav {
  display: flex;
  flex-direction: column;
  background-color: orange;
  padding: 3vw;
}

.dropdown-link {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  font-size: 5vw;
  padding: 1vw;
}

.dropdown-link:hover {
  color: #ff69b4;
}

/* WEB ONLY STYLING */

.mobile-only {
  display: none;
}

#mobile-header {
  display: none;
}

/* MOBILE ONLY STYLING */

@media only screen and (max-width: 1000px) {
  #web-header {
    display: none;
  }
  #mobile-header {
    display: inline;
  }
  #sidebar {
    display: none;
  }
  .mobile-only {
    display: inline;
  }
  .web-only {
    display: none;
  }
  #user-avatar {
    margin: 0.5rem;
    border-radius: none;
  }
  .main-page {
    flex-direction: column;
  }
  #landing-page > h1 {
    font-size: 12vw;
  }

  #landing-welcome > h2 {
    font-size: 8vw;
  }

  #landing-welcome > h3 {
    font-size: 5vw;
  }
  #user-selection {
    flex-direction: column;
    align-items: center;
  }
  .landing-user-widget {
    flex-direction: row;
    justify-content: space-between;
    margin: 3vw;
    padding: 3vw;
    width: 70vw;
    height: 8vh;
  }
  .landing-user-info {
    text-align: right;
  }
  .landing-user-info > h2 {
    font-size: 5vh;
  }
  .landing-user-info > h3 {
    font-size: 3vh;
  }
  .landing-user-widget > img {
    width: 8vh;
    height: 8vh;
  }
  #user-widget {
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
  #user-widget:hover {
    box-shadow: none;
  }
  #user-avatar {
    height: 15vw;
    width: 15vw;
    background-color: white;
  }
  #user-avatar:hover {
    border: 2px solid #ff69b4;
  }
  #mobile-header {
    font-size: 12vw;
    text-shadow: 4px 4px #ff69b4;
  }
  .cards-list {
    padding: 5vw;
  }
  .card {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .card-img {
    height: 20vw;
    width: 20vw;
  }
  .card-content {
    padding-left: 5vw;
  }
  .card-title {
    font-size: 4vw;
  }
  .card-author {
    font-size: 3vw;
  }
  .card-footer {
    font-size: 3vw;
  }

  .review-header {
    flex-direction: column;
    align-items: center;
  }
  .review-container {
    flex-direction: column;
    align-items: center;
  }
  .review-box > h3 {
    text-align: center;
    font-size: 5vw;
  }
  .review-page {
    padding: 6vw;
  }
  .review-box {
    padding: 6vw;
  }

  .review-header > h2 {
    text-align: center;
    font-size: 8vw;
    line-height: 1.2;
    padding-bottom: 2vw;
  }

  .review-container > p {
    text-align: left;
    font-size: 4vw;
  }
  .review-container > img {
    width: 60vw;
    height: 60vw;
    object-fit: cover;
    padding: 3vw;
  }
  .back-button {
    padding: 1.2vw;
    font-size: 3vw;
    margin: 5vw;
  }
  .comment-container {
    padding-top: 10vw;
  }

  .comment-card {
    border-radius: 2vw;
    background-color: white;
    width: 80vw;
    padding: 2.5vw;
    margin: 2vw;
    box-shadow: 10px 10px 2px 1px #8cf5ff97;
  }

  .comment-text {
    margin-left: 5vw;
    font-size: 4vw;
  }

  .commentor-avatar {
    height: 12vw;
    width: 12vw;
  }

  .comments-header {
    font-size: 9vw;
  }

  #no-comments-text {
    font-size: 5vw;
  }
  .op-comment {
    box-shadow: 10px 10px 2px 1px #ff69b4a1;
  }
}
